<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Happy Birthday</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="birthday-page">
  <div class="fireworks"></div>
  <h1>🎉 Happy Birthday, {{ name }}! 🎉</h1>

  <div class="wish-list">
    {% for i in range(age) %}
      <p>🎂 Happy Birthday {{ name }} 🎂</p>
    {% endfor %}
  </div>

  <div class="characters">
    <img src="https://i.postimg.cc/PrM0ZLgm/boy.png" class="dance" alt="Boy Cartoon">
    <img src="https://i.postimg.cc/8cz3DgYK/girl.png" class="dance" alt="Girl Cartoon">
  </div>
</body>
</html>
